### DO NOT CHANGE IF YOU DON'T KNOW WHAT YOU ARE DOING ###
API_URL_V3="https://openapi.zalo.me/v3.0/oa/"
API_URL_V2="https://openapi.zalo.me/v2.0/oa/"
##########################################################

### CHANGE BELOW CONFIGURATION ###
ACCESS_TOKEN=""

## specify the message type, please choose one
SEND_MESSAGE_TEXT=False
SEND_MESSAGE_WITH_IMAGE=True

## specify the user to send message, please choose one
SEND_ALL_USERS=False # critical, please choose False if you don't want to send message to all users
SEND_USER_LIST="71860866326132217"

## specify the image file path, if not, message without image
IMAGE_FILE_PATH="config/image/image.jpg"

## specify the message or message file, please choose one
MESSAGE_FILE_PATH="config/message/message.txt"